<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span jhiTranslate="jhipsterAddonApp.task.detail.title">Task</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ task.id }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterAddonApp.task.name">Name</span></dt>
          <dd>
            <span>{{ task.name }}</span>
          </dd>
          <dt><span jhiTranslate="jhipsterAddonApp.task.categoryId">Category Id</span></dt>
          <dd>
            <span>{{ task.categoryId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
        </button>

        <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
        </button>
      </div>
    }
  </div>
</div>
